version: '3.8'

services:
  streamingtextstructurer:
    image: registry.isl.iar.kit.edu/streamingtextstructurer
    build:
      dockerfile: Dockerfile
      context: ${COMPONENTS_DIR}/streamingtextstructurer
    environment:
      - QUEUE_SYSTEM=${QUEUE_SYSTEM:-KAFKA}
      - TEXT_STRUCTURER_ONLINE_URL=${TEXT_STRUCTURER_ONLINE_URL}
      - TEXT_STRUCTURER_OFFLINE_URL=${TEXT_STRUCTURER_OFFLINE_URL}
      - MT_BACKEND_URL=${MT_BACKEND_URL}
      - SUM_BACKEND_URL=${SUM_BACKEND_URL}
    command: python -u StreamTextStructurer.py --queue-server kafka --queue-port 9092 --redis-server redis --partitions 10
    networks:
      - LTPipeline
    restart: on-failure
    depends_on:
      - qbmediator

  streamingsummarizer:
    image: registry.isl.iar.kit.edu/streamingsummarizer
    build:
      dockerfile: Dockerfile
      context: ${COMPONENTS_DIR}/streamingsummarizer
    environment:
      - QUEUE_SYSTEM=${QUEUE_SYSTEM:-KAFKA}
      - SUM_BACKEND_URL=${SUM_BACKEND_URL}
      - MT_BACKEND_URL=${MT_BACKEND_URL}
    command: python -u StreamSummarizer.py --queue-server kafka --queue-port 9092 --redis-server redis
    networks:
      - LTPipeline
    restart: on-failure
    depends_on:
      - qbmediator

  streamingpostproduction:
    image: registry.isl.iar.kit.edu/streamingpostproduction
    build:
      dockerfile: Dockerfile
      context: ${COMPONENTS_DIR}/streamingpostproduction
    environment:
      - QUEUE_SYSTEM=${QUEUE_SYSTEM:-KAFKA}
      - SUM_BACKEND_URL=${SUM_BACKEND_URL}
      - MT_BACKEND_URL=${MT_BACKEND_URL}
    command: python -u StreamPostProduction.py --queue-server kafka --queue-port 9092 --redis-server redis
    networks:
      - LTPipeline
    restart: on-failure
    depends_on:
      - qbmediator

networks:
  LTPipeline: {}
