[submodule "components/qbmediator"]
	path = components/qbmediator
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/qbmediator.git
[submodule "components/lt_api"]
	path = components/lt_api
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/lt_api.git
[submodule "components/lt_api_stream"]
	path = components/lt_api_stream
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/lt_api_stream.git
[submodule "components/ltfrontend"]
	path = components/ltfrontend
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/ltfrontend.git
[submodule "components/lt-archive"]
	path = components/lt-archive
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/lt-archive.git
[submodule "components/loggingwoker"]
	path = components/loggingwoker
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/loggingwoker.git
[submodule "components/streamingasr"]
	path = components/streamingasr
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/streamingasr.git
[submodule "components/components/streamingasr"]
	path = components/components/streamingasr
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/streamingmt.git
[submodule "components/streamingmt"]
	path = components/streamingmt
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/streamingmt.git
[submodule "components/streamingtts"]
	path = components/streamingtts
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/streamingtts.git
[submodule "components/streamingtextstructurer"]
	path = components/streamingtextstructurer
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/streamingtextstructurer.git
[submodule "components/streamingsummarizer"]
	path = components/streamingsummarizer
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/streamingsummarizer.git
[submodule "components/streamingpostproduction"]
	path = components/streamingpostproduction
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/streamingpostproduction.git
[submodule "components/dialog/bot"]
	path = components/dialog/bot
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/bot.git
[submodule "components/dialog/kitmeetingbutler"]
	path = components/dialog/kitmeetingbutler
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/dialog/kitmeetingbutler.git
[submodule "backends/faster-whisper"]
	path = backends/faster-whisper
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/inference/faster-whisper.git
[submodule "backends/vllmserver"]
	path = backends/vllmserver
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/inference/vllmserver.git
[submodule "backends/tts-kokoro"]
	path = backends/tts-kokoro
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/inference/tts-kokoro.git
[submodule "backends/huggingface-tgi"]
	path = backends/huggingface-tgi
	url = git@gitlab.kit.edu:kit/isl-ai4lt/lt-middleware/inference/llm-gemma.git
[submodule "components/streamingslide"]
	path = components/streamingslide
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/streamingslide.git
[submodule "backends/omnifusion_pyparrot"]
	path = backends/omnifusion_pyparrot
	url = https://github.com/saikoneru/omnifusion_pyparrot
[submodule "backends/image-translator"]
	path = backends/image-translator
	url = https://github.com/saikoneru/image-translator
[submodule "components/chatfrontend"]
	path = components/chatfrontend
	url = https://gitlab.kit.edu/kit/isl-ai4lt/lt-middleware/chatfrontend.git
