<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Password Login</title>
    <link rel="stylesheet" href="{{ url .ReqPath "static/styles.css" }}" />
  </head>
  <body>
    <header>
      {{ template "header.dex.html" . }}
    </header>

    <main class="dex-card">
      <h1 class="dex-title">Log in to your account</h1>

      <form method="post" action="{{ .PostURL }}">
        <div class="theme-form-row">
          <div class="theme-form-label">
            <label for="login">{{ .UsernamePrompt }}</label>
          </div>
          <input tabindex="1" required id="login" name="login" type="text" class="theme-form-input" placeholder="{{ .UsernamePrompt | lower }}" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }} />
        </div>

        <div class="theme-form-row">
          <div class="theme-form-label">
            <label for="password">Password</label>
          </div>
          <input tabindex="2" required id="password" name="password" type="password" class="theme-form-input" placeholder="password" {{ if .Invalid }} autofocus {{ end }} />
        </div>

        {{ if .Invalid }}
        <div id="login-error" class="dex-error-box">Invalid {{ .UsernamePrompt }} and password.</div>
        {{ end }}

        <button tabindex="3" id="submit-login" type="submit" class="dex-btn theme-btn--primary">Login</button>
      </form>

      {{ if .BackLink }}
      <div class="theme-link-back">
        <a class="dex-subtle-text" href="{{ .BackLink }}">Select another login method.</a>
      </div>
      {{ end }}
    </main>
    {{ template "footer.dex.html" . }}

    <script type="text/javascript">
      document.querySelector("form").onsubmit = function () {
        var el = document.querySelector("#submit-login");
        el.setAttribute("disabled", "disabled");
      };
    </script>
  </body>
</html>
